body {
  background-color: rgb(33 78 59);
  color: rgb(241, 234, 234);
}

.appContainer {
  width: 98%;
  height: 85%;
  padding: 25px;
}

#app {
  height: 100vh;
  padding-bottom: 9%;
}

.logoImage {
  margin-bottom: 7px;
  width: 70px;
  height: 65px;
  border-radius: 50%;
}

.logo {
  margin-bottom: 10px;
  height: 70px;
}

.boardCard {
  /* rgb(16, 92, 60) */
  background-color: rgb(30 101 75);
  margin-top: 3px;
}

.secondNav {
  background-color: rgb(9 82 82);
}

.itemChildCard {
  /* rgb(43 101 71) */
  background-color: rgb(35 109 82);
}

.nav {
  margin-top: 4px;
}

.navBar {
  border-radius: 5px;
}

.navHeader {
  padding-top: 10px;
}

.columnButton {
  margin-left: 5px;
  width: 33px;
}

.deleteCardButton {
  margin-left: 5px;
  width: 32px;
}

.submitCardButton {
  margin-left: 3px;
  width: 30px;
}

.fullHeight {
  height: 100%;
}

.textareaInput {
  width: 100%;
  height: 100%;
  background-color: rgb(52 58 64);
  color: rgb(241, 234, 234);
  resize: none;
}

.columnInput {
  width: 79%;
}

.viewCard {
  white-space: pre-line;
}

.thumb:hover .icon-thumb,
.thumb .icon-thumb-solid {
    display: none;
}
.thumb:hover .icon-thumb-solid {
    display: inline;
}

.disable {
  cursor: not-allowed;
  pointer-events:none;
  color: gray;
}

.dim {
  background:#000;
  opacity:0.5;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:99;
}

.columnTitle {
  font-size: larger;
  font-weight: bold;
}

.inlineBlock {
  display: inline-block;
  padding: 3px;
}

.block {
  display: block;
}

/* .floatRight {
  float: right;
} */

.addCardButton {
  width: 100%;
}
