body {
  background-color: rgb(33, 78, 59);
  /* color: rgb(241, 234, 234); */
  color: #faf6db;
}

.appContainer {
  width: 99%;
  height: 85%;
  padding: 11px 11px;
}

#app {
  height: 100vh;
  /* padding-bottom: 5%; */
}

.logoImage {
  margin: 3px 0 5px 3px;
  /* margin-left: 5px; */
  width: 40px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
}

.logo {
  margin-top: 3px;
  height: 40px;
  display: inline-block;
}

.boardCard {
  background-color: rgb(33, 78, 59);
  /* margin-top: 3px; */
}

.templateCard {
  background-color: rgb(30, 101, 75);
  /* margin-top: 3px; */
}

.columnCard {
  background-color: rgb(32, 111, 82);
  /* margin-top: 3px; */
}

.columnCardHeader {
  background-color: rgb(31, 42, 53);
  /* margin-top: 3px; */
}

.actionsBoardCard {
  background-color: rgb(10, 63, 88);
  margin-top: 3px;
}

.itemChildCard {
  background-color:  rgb(10, 61, 85);
  border-radius: 0.40rem;
  margin: 5px 0;
}

.nav {
  margin-top: 4px;
}

.navBar {
  border-radius: 5px;
}

.columnButton {
  margin-left: 5px;
  width: 33px;
}

.deleteCardButton {
  margin-left: 5px;
  width: 32px;
}

.submitCardButton {
  margin-left: 3px;
  width: 30px;
}

.fullHeight {
  height: 100%;
}

.textareaInput {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: rgb(241, 234, 234);
  background-color: rgb(33, 51, 68);
  resize: none;
  overflow: hidden;
  overflow-wrap: break-word;
}

textarea:focus {
  outline: none !important;
  border:1px solid rgb(40, 60, 78);
  box-shadow: 0 0 10px rgb(113, 158, 206);
}

.columnInput {
  width: 79%;
}

.viewCard {
  white-space: pre-line;
}

.thumb:hover .icon-thumb,
.thumb .icon-thumb-solid {
  display: none;
  color: #faf6db;
}
.thumb:hover .icon-thumb-solid {
  display: inline;
  cursor: pointer;
  color: #faf6db;
}

.up-voted {
  color: #8ACED0 !important;
  cursor: pointer;
}

.down-voted {
  color: #e63946 !important;
  cursor: pointer;
}

.disable {
  cursor: not-allowed;
  pointer-events:none;
  cursor: none;
  color: gray;
}

.dim {
  background:#000;
  opacity:0.5;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:99;
}

.columnTitle {
  font-size: larger;
  font-weight: bold;
}

.inlineBlock {
  display: inline-block;
  padding: 3px;
}

.block {
  display: block;
}

.addCardButton {
  width: 100%;
}

.addColumnModelTitle {
  background-color:rgb(39, 56, 62);
  border: none;
}

.addColumnModelBody {
  background-color: rgb(23, 97, 101);
}

.inputModal {
  padding: 8px 0px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.submitModalButton {
  margin: 10px 5px;
}

.closeModalButton {
  margin: 10px 5px;
}

.editColumnInput {
  width: 50%;
  margin-bottom: 8px;
}

.confirmHeader {
  background-color:rgb(171, 52, 64);
  border: none;
  text-align: center;
  display: block !important;
}

.confirmBody {
  background-color:rgb(171, 52, 64);
  border: none;
  text-align: center;
}

.confirmFooter {
  background-color: rgb(31, 42, 53);
  border: none;
}

.fa-cog {
  color: rgb(218, 206, 206);
}

.btn-flat {
  background-color: rgb(10, 63, 88);
  color: #faf6db;
}

.btn-flat:hover {
  background-color: rgb(6, 45, 64);
  color: #faf6db;
}

.btn-flat-light {
  background-color: rgb(16, 95, 132);
  color: #faf6db;
}

.btn-flat-light:hover {
  background-color: rgb(27, 114, 155);
  color: #faf6db;
}

.btn-dark {
  background-color: rgb(37, 53, 66);
  color: #faf6db;
}

.btn-dark:hover {
  background-color: rgb(37, 52, 63);
  color: #faf6db;
}

.btn-dark-red {
  background-color: rgb(158, 25, 43);
  color: #faf6db;
}

.btn-dark-red:hover {
  background-color: rgb(136, 15, 32);
  color: #faf6db;
}

.btn-copy {
  background-color: rgb(10, 97, 97);
  color: #faf6db;
}

.btn-copy:hover {
  background-color: rgb(8, 66, 66);
  color: #faf6db;
}

.btn-admin {
  background-color: rgb(148, 29, 73);
  color: #faf6db;
}

.btn-admin:hover {
  background-color: rgb(97, 15, 45);
  color: #faf6db;
}

.btn-success {
  background-color: rgb(40, 167, 69);
  border-color: rgb(40, 167, 69);
  color: #faf6db;
}

.btn-success:hover {
  background-color: rgb(33, 136, 56);
  color: #faf6db;
}

.btn-edit {
  background-color: rgb(241, 250, 238);
  border-color: rgb(241, 250, 238);
  color: black;
}

.btn-edit:hover {
  background-color: rgb(213, 238, 204);
  color: black;
}

.bg-dark {
  background-color: rgb(31, 42, 53) !important;
}

.btn-smm {
  padding: .3rem .45rem;
  font-size: .65rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.modal-mmd {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  max-width: 630px !important;
}

.scrollable {
  overflow-x: scroll;
  white-space: nowrap;
  flex-wrap: nowrap !important;
}

.column {
  padding: 0 10px;
}

.cardBody {
  padding: 10px;
}

.mainCardBody {
  padding: 10px 5px;
}

/* .carousel-32 {
  flex: 0 0 32%;
}

.carousel-45 {
  flex: 0 0 45%;
} */

.hide {
  display: none;
}

.show{
  display: block;
}

.danger {
  color: rgb(158, 25, 43);
}

.actionsToasts {
  z-index: 10;
  position: absolute;
  top: 8%;
  right: 0px;
}

.copy-button {
  margin-right: 5px;
  padding-right: 11px;
}

.center {
  width: 100%;
  text-align: center
}

.add-column-btn {
  padding: 5px 10px;
  margin: 0px 10px;
}

.actions-btn {
  padding: 5px 10px;
}

.card-votes-total {
  cursor: pointer;
  user-select: none;
}

.navText {
  cursor: default;
  font-size: 14px;
}
