body {
  background-color: rgb(33, 78, 59);
  color: rgb(241, 234, 234);
}

.appContainer {
  width: 98%;
  height: 85%;
  padding: 5px 25px;
}

#app {
  height: 100vh;
  padding-bottom: 5%;
}

.logoImage {
  margin-bottom: 7px;
  width: 70px;
  height: 65px;
  border-radius: 50%;
}

.logo {
  margin-bottom: 10px;
  height: 70px;
}

.boardCard {
  background-color: rgb(30, 101, 75);
  margin-top: 3px;
}

.columnCard {
  background-color: rgb(32, 111, 82);
  margin-top: 3px;
}

.actionsBoardCard {
  background-color: rgb(10, 63, 88);
  margin-top: 3px;
}

.itemChildCard {
  background-color:  rgb(10, 61, 85);
  border-radius: 0.40rem;
  margin: 5px 0;
}

.nav {
  margin-top: 4px;
}

.navBar {
  border-radius: 5px;
}

.navHeader {
  padding-top: 10px;
}

.columnButton {
  margin-left: 5px;
  width: 33px;
}

.deleteCardButton {
  margin-left: 5px;
  width: 32px;
}

.submitCardButton {
  margin-left: 3px;
  width: 30px;
}

.fullHeight {
  height: 100%;
}

.textareaInput {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: rgb(241, 234, 234);
  background-color: rgb(33, 51, 68);
  resize: none;
  overflow: hidden;
  overflow-wrap: break-word;
}

textarea:focus {
  outline: none !important;
  border:1px solid rgb(40, 60, 78);
  box-shadow: 0 0 10px rgb(113, 158, 206);
}

.columnInput {
  width: 79%;
}

.viewCard {
  white-space: pre-line;
}

.thumb:hover .icon-thumb,
.thumb .icon-thumb-solid {
    display: none;
}
.thumb:hover .icon-thumb-solid {
    display: inline;
}

.disable {
  cursor: not-allowed;
  pointer-events:none;
  color: gray;
}

.dim {
  background:#000;
  opacity:0.5;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:99;
}

.columnTitle {
  font-size: larger;
  font-weight: bold;
}

.inlineBlock {
  display: inline-block;
  padding: 3px;
}

.block {
  display: block;
}

.addCardButton {
  width: 100%;
}

.addColumnModelTitle {
  background-color:rgb(39, 56, 62);
  border: none;
}

.addColumnModelBody {
  background-color: rgb(23, 97, 101);
}

.inputModal {
  padding: 8px 0px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.submitModalButton {
  margin: 10px 5px;
}

.closeModalButton {
  margin: 10px 5px;
}

.editColumnInput {
  width: 50%;
  margin-bottom: 8px;
}

.confirmHeader {
  background-color:rgb(171, 52, 64);
  border: none;
  text-align: center;
  display: block !important;
}

.confirmBody {
  background-color:rgb(171, 52, 64);
  border: none;
  text-align: center;
}

.confirmFooter {
  background-color: rgb(31, 42, 53);
  border: none;
}

.fa-cog {
  color: rgb(218, 206, 206);
}

.btn-flat {
  background-color: rgb(10, 63, 88);
  color: white;
}

.btn-flat:hover {
  background-color: rgb(6, 45, 64);
  color: white;
}

.btn-flat-light {
  background-color: rgb(16, 95, 132);
  color: white;
}

.btn-flat-light:hover {
  background-color: rgb(27, 114, 155);
  color: white;
}

.btn-dark {
  background-color: rgb(30, 43, 56);
  color: white;
}

.btn-dark:hover {
  background-color: rgb(21, 34, 47);
  color: white;
}

.btn-dark-red {
  background-color: rgb(158, 25, 43);
  color: white;
}

.btn-dark-red:hover {
  background-color: rgb(136, 15, 32);
  color: white;
}

.bg-dark {
  background-color: rgb(31, 42, 53) !important;
}

.btn-smm {
  padding: .3rem .45rem;
  font-size: .65rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.modal-mmd {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  max-width: 630px !important;
}

.scrollable {
  overflow-x: scroll;
  white-space: nowrap;
  flex-wrap: nowrap !important;
}

.column {
  height: 99%;
}

.carousel-32 {
  flex: 0 0 32%;
}

.carousel-45 {
  flex: 0 0 45%;
}

.hide {
  display: none;
}

.show{
  display: block;
}

.danger {
  color: rgb(158, 25, 43);
}
